* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff2") format("woff2"), url("Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("Gilroy-Medium.woff2") format("woff2"), url("Gilroy-Medium.woff") format("woff"), url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Extrabold.woff2") format("woff2"), url("Gilroy-Extrabold.woff") format("woff"), url("Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  color: white;
  font-family: 'Gilroy', sans-serif;
  background-color: #0B1D26;
  background-image: url(/proekt_12/image/BG.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

body a {
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header_container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a {
  font-family: 'Chronicle Display', sans-serif;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: 0.01em;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.header-list {
  padding: 0 20px;
}

.header-list a {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  position: relative;
}

.after-list::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.after-list:hover::after, .after-list:focus::after {
  width: 100%;
}

.header-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-account a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-account a span {
  margin-left: 8px;
  position: relative;
}

.header-account a img {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.header-account a img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header-account a span::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.header-account a span:hover:after, .header-account a span:focus:after {
  width: 100%;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content-body {
  margin-top: 135px;
  margin-bottom: 843px;
  width: 950px;
}

@media (max-width: 1439px) {
  .header-content-body {
    margin-bottom: 200px;
  }
}

.header-content-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin-right: 30px;
}

.header-text-line {
  color: #FBD784;
  font-weight: 800;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.header-content-title {
  font-family: 'Chronicle Display', sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 114%;
  text-transform: capitalize;
  margin: 30px 0;
}

.header-content-scroll a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.header-content-scroll a:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.header-scroll-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .header-content-body {
    margin-top: 50px;
    width: 950px;
  }
  .header-content-title {
    font-size: 50px;
  }
  .header-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-item :not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 424px) {
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
  .header-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .header-account {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .line {
    width: 50px;
  }
  .header-text-line {
    font-size: 12px;
  }
  .header-content-title {
    font-size: 36px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1490px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-body {
  padding-bottom: 80px;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block:not(:last-child) {
  margin-bottom: 200px;
}

.main-block-turn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-block-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 61.3%;
          flex: 1 1 61.3%;
  position: relative;
}

.main-block-content-number {
  font-style: normal;
  font-weight: 900;
  font-size: 240px;
  line-height: 100%;
  opacity: 0.1;
}

.main-block-content-number_2 {
  margin-left: 110px;
}

.main-block-content-body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 140px 114px 140px 155px;
}

.main-block-content-body-turn {
  margin: 140px 0px 140px 260px;
}

.main-block-content-above_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.above_title-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.main-block-content-title {
  font-family: 'Chronicle Display', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 25px;
}

.main-block-content-sub_title {
  margin-bottom: 25px;
}

.main-block-content-sub_title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
}

@media (max-width: 1170px) {
  .main-block-content-title {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .main-block-content-sub_title {
    margin-bottom: 15px;
  }
  .main-block-content-sub_title p {
    font-size: 14px;
  }
  .main-block-content-body {
    margin: 140px 50px 140px 0px;
  }
  .main-block-content-body-turn {
    margin: 140px 0px 140px 100px;
  }
}

.after-list-color::after {
  content: "";
  background-color: #FBD784;
}

.main-block-content-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block-content-scroll span {
  font-size: 18px;
  line-height: 122%;
  color: #FBD784;
  margin-right: 8px;
  position: relative;
}

.main-block-content-scroll img {
  vertical-align: middle;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.main-block-content-scroll img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-block-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 38.7%;
          flex: 1 1 38.7%;
}

.main-block-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-block-content-body {
    position: relative;
    top: -70px;
    left: 0;
    margin: 0px;
  }
  .main-block-content-body-turn {
    margin-bottom: 0px;
  }
  .main-block:not(:last-child) {
    margin-bottom: 50px;
  }
  .main-block-content-number_2 {
    margin-left: 0px;
  }
  .main-block-image {
    margin-top: 0px;
  }
}

.footer-body {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 61.3%;
          flex: 1 1 61.3%;
}

.footer-container-logo {
  font-family: 'Chronicle Display';
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  margin-bottom: 25px;
}

.footer-container-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 305px;
}

.footer-container-text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
}

.footer-container-copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  opacity: 0.5;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 38.7%;
          flex: 1 1 38.7%;
}

.footer-menu-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #FBD784;
  margin-bottom: 25px;
}

.footer-menu-item {
  margin: 8px 0;
}

.footer-menu-link {
  padding: 8px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
}

.footer-menu-link a {
  position: relative;
}

@media (max-width: 1024px) {
  .footer-body {
    padding: 50px 0;
  }
  .footer-menu {
    margin-bottom: 30px;
  }
  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer-container-text p:last-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 424px) {
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */